# Entorno virtual
venv/
venv
/venv
.env
.env.backup.OLD
.env.new.OLD
# Archivos de configuración local
*.pyc
__pycache__/
db.sqlite3
*.log

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de IDEs
.vscode/
.idea/

# Archivos estáticos y media (si se generan)
staticfiles/
media/
setup_cloudsql_cloudrun.sh
*.sh

.dockerfile

scripts

*.env.prod
